{{!
      # Citation for the following: enemies hbs
2     # Date: 05/6/2025
3     # Adapted from: Exploration Web Application Technology
4     # Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
}}



<h1>Enemies</h1>

<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each enemies.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, name, health, boss status, weapon id, location id }}
        {{#each enemies}}
        <tr>
            <td>{{this.[Enemy ID]}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Health}}</td>
            <td>{{this.[Is Boss]}}</td>
            <td>{{this.Weapon}}</td>
            <td>{{this.Location}}</td>

            {{! DELETE form }}
            {{!
                # Citation for the following function:
                # Date: 6/02/2025
                # Adapted from: Exploration Implementing CUD operations 
                # Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-implementing-cud-operations-in-your-app?module_item_id=25352968

            }}
              <td>
                <form method="POST" action="/Enemies/delete" onsubmit="return confirm('Are you sure you want to delete {{this.Name}}?')">
                    <input type="hidden" name="delete_enemy_id" value="{{this.[Enemy ID]}}" />
                    <button class="btn-delete" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
            {{! CREATE form }}
            {{!
                # Citation for the following function:
                # Date: 6/02/2025
                # Adapted from: Exploration Implementing CUD operations 
                # Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-implementing-cud-operations-in-your-app?module_item_id=25352968

            }}
<h2>Create an Enemy</h2>

<form class='cuForm' id='create_enemy_form' method="POST" action="/Enemies/create">
    <label for='create_enemy_name'>Enemy Name: </label>
    <input type='text' placeholder="Enter Enemy Name" name='create_enemy_name' id='create_enemy_name' required />

    <label for='create_enemy_health'>Health: </label>
    <input type='number'placeholder="Enter Enemy Health" name='create_enemy_health' id='create_enemy_health' min="0" />

    <label for='create_enemy_is_boss'>Is Boss: </label>
    <select name='create_enemy_is_boss' id='create_enemy_is_boss' required>
        <option value='0'>No</option>
        <option value='1'>Yes</option>
    </select>

    <label for='weapon_id'>Weapon: </label>
    <select name='create_enemy_weapon_id' id='create_enemy_weapon_id' required>
        <option value='' selected>Select a Weapon</option>
        {{#each weapons}}
        <option value='{{this.weapon_id}}'>{{this.name}}</option>
        {{/each}}
    </select>

    <label for='create_enemy_location_id'>Location: </label>
    <select name='create_enemy_location_id' id='create_enemy_location_id' required>
        <option value='NULL' selected>Select a Location</option>
        {{#each locations}}
        <option value='{{this.location_id}}'>{{this.name}}</option>
        {{/each}}
    </select>

    <input type='submit' />
</form>
