{{!
      # Citation for the following :Locations hbs
2     # Date: 05/6/2025
3     # Based on: Exploration Web Application Technology
4     # Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
}}

<h1>Locations</h1>

{{! READ table }}
<table>
    <thead>
        <tr>
            {{#each locations.[0]}} 
                <th>
                    {{@key}} 
                </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each locations}}
        <tr>
            <td>{{this.[Location ID]}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.[Region]}}</td>

            {{! DELETE form }}
            {{!
                # Citation for the following function: Delete location form 
                # Date: 6/02/2025
                # Adapted from: Exploration Implementing CUD operations 
                # Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-implementing-cud-operations-in-your-app?module_item_id=25352968

            }}
            <td>
                <form id="delete_location_form_{{this.[Location ID]}}" method="POST" action="/Locations/delete" onsubmit="return confirm('Are you sure you want to delete {{this.Name}}?')">
                    <input type="hidden" name="delete_location_id" value="{{this.[Location ID]}}" />
                    <input type="hidden" name="delete_location_name" value="{{this.Name}}" />
                    <button class="btn-delete" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
{{!
            
     # Citation for the following function: Create location form 
     # Date: 6/02/2025
     # Adapted from: Exploration Implementing CUD operations 
     # Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-implementing-cud-operations-in-your-app?module_item_id=25352968
    
            }}
<h2>Insert a Location</h2>
<form class='cuForm' id='insert_location_form' method="POST" action="/Locations/create">
    <label for='insert_location_name'> Name: </label>
        <input type='text' placeholder="Enter Location Name" name='insert_location_name' id='insert_location_name' required />


    <label for='insert_location_region'>Region: </label>
    <select name='insert_location_region' id='insert_location_region' required>
        <option value='' disabled selected>Select a Region</option>
        {{#each regions}}
            <option value='{{this.region_id}}'>{{this.region_id}}</option>
        {{/each}}
    </select>

    <input type='submit' />
</form>
