{{!  
# Citation for the following page:
# Date: 05/20/2025
# Based on: Exploration - Web Application Technology
# Source URL:https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
}}




<h1>Inventory</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each inventory.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the column attribute }}
        {{#each inventory}}
        <tr>
            <td>{{this.[Inventory ID]}}</td>
            <td>{{this.Player}}</td>
            <td>{{this.Weapon}}</td>


            {{! DELETE form }}
            {{!
            
     # Citation for the following function:
     # Date: 6/02/2025
     # Adapted from: Exploration Implementing CUD operations 
     # Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-implementing-cud-operations-in-your-app?module_item_id=25352968
    
            }}
            <form id='delete_inventory_form' method="POST" action="/Player_Weapons/delete" onsubmit="return confirm('Are you sure you want to delete {{this.[Inventory ID]}}?')">
                <input type='hidden' name='delete_inventory_id' value="{{this.[Inventory ID]}}" />
                <input type='hidden' name='delete_player' value='{{this.Player}}' />
                <input type='hidden' name='delete_weapon' value='{{this.Weapon}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
{{!
            
    # Citation for the following function:
     # Date: 6/02/2025
     # Adapted from: Exploration Implementing CUD operations 
     # Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-implementing-cud-operations-in-your-app?module_item_id=25352968
    
            }}
<h2>Create a Inventory Item</h2>
<form class='cuForm' id='create_player_weapon_form' method="POST" action="/Player_Weapons/create">

        <label for='create_player'>Player: </label>
    <select name='create_player' id='create_player'>
        <option value='NULL' selected>Select a Player</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each players}}
        <option value='{{this.player_id}}' required>{{this.name}}</option>
        {{/each}}
    </select>    

    <label for='create_weapon'>Weapon: </label>
    <select name='create_weapon' id='create_weapon'>
        <option value='NULL' selected>Select a Weapon</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each weapons}}
        <option value='{{this.weapon_id}}' required>{{this.name}}</option>
        {{/each}}
    </select>


    <input type='submit' />
</form>

{{! UPDATE form }}
{{!
            
    # Citation for the following function:
     # Date: 6/02/2025
     # Adapted from: Exploration Implementing CUD operations 
     # Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-implementing-cud-operations-in-your-app?module_item_id=25352968
    
            }}
<h2>Update an Inventory Item</h2>
<form class='cuForm' id='update_player_weapon_form' method="POST" action="Player_Weapons/update">
    <label for='update_player_weapon'>Inventory Item to Update: </label>
    <select name='update_player_weapon' id='update_player_weapon' required>
        <option value='' disabled selected>Select an Inventory Item</option>
        {{#each inventory}}
        <option value='{{this.[Inventory ID]}}' required>
            {{this.[Inventory ID]}}
        </option>
        {{/each}}
    </select>

        <label for='create_player'>Player: </label>
    <select name='create_player' id='create_player'>
        <option value='NULL' selected>Select a Player</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each players}}
        <option value='{{this.player_id}}' required>{{this.name}}</option>
        {{/each}}
    </select>

    </select>

    <label for='create_weapon'>Weapon: </label>
    <select name='create_weapon' id='create_weapon'>
        <option value='NULL' selected>Select a Weapon</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each weapons}}
        <option value='{{this.weapon_id}}' required>{{this.name}}</option>
        {{/each}}
    </select>


    <input type='submit' />
</form>
